.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

.claims-table {
    width: 100%;
}

.table-caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.claims-table th,
.claims-table td {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

.p-table .p-datatable-thead>tr>th {
    justify-content: space-between;
}